[color]
ui = true

[core]
pager = less -r
editor = vim

[user]
email = sapientdust+github@gmail.com
name = eukaryote

[push]
default = simple

[alias]
hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
type = cat-file -t
dump = cat-file -p
